html{
    background: #eef1f2;
    height: 100%;
}

body{
    margin: 0px !important;
}

main{
    margin-top: 150px;
}

header{
    height: 100px;
    background: white;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
}

h1{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

#logo{
    float: left;
    margin-top: 21px;
    margin-left: 100px;
}

#team_name_block{
    width: 150px;
    float: right;
    font-size: 25px;
    margin-top: 30px;
    margin-right: 100px;
    color: #0a8a93;
    font-family: "Impact";
}

#main_block{
    margin-top: -40px;
}

#main_block div{
    height: 530px;
}

#main_block #main_left_block{
    float: left;
    width: 49%;
}

#main_block #main_right_block{
    float: right;
    width: 50%;
}

#bottom_block{
    height: 600px;
}

#bottom_block div{
    float: left;
    width: 33%;
    height: 100%;
}

#bottom_block .header_graph{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

#graph_radar{
    height: 500px !important;
    width: 500px !important;
    margin: auto;
    margin-top: -30px;
}

.header_graph_radar{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

#middle_block{
    height: 100px;
}

#middle_block div{
    width: 33%;
    float: left;
}

#middle_block p.header{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;

    width: 150px;
    background-color: rgb(170,212,215);
    margin: auto;
}

#middle_block p.value{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;

    background-color: white;
    width: 150px;
    margin: auto;
    font-size: 32px;
    height: 40px;
    padding-top: 10px;
}

footer{
    height: 50px;
    background: white;
    border-top: grey 1px solid;
}

#header_date{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 32px;
    font-weight: 300;
}

#header_date span{
    font-weight: bold;
}

#copyright{
    text-align: center;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 300;
}

#alert_message_block{
    height: 40px !important;
    padding-top: 10px;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
}