{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/speedometer.css' %}" />
    <script  src="{% static "js/jquery-3.0.0.min.js" %}" ></script>
    <script  src="{% static "js/Chart.bundle.min.js" %}" ></script>
    <script  src="{% static "js/Chart.min.js" %}" ></script>
    <script  src="{% static "js/speedometer.js" %}" ></script>
    <script  src="{% static "js/data.js" %}" ></script>
    <title>Мониторинг</title>
</head>
<body>
    <header>
        <img src="{% static "images/Sibur_logo.png" %}" width="180px" id="logo">
        <div id="team_name_block">ML witnesses</div>
        <div style="clear: both"></div>
    </header>
    <main>
        <h1>Мониторинг</h1>
        <p id="header_date"><span>Дата:</span> 2017-01-12</p>
        <div id="main_block">
            <div id="main_left_block">
                <p class="header_graph_radar">Оценка вероятности отказа</p>
                <input id="speedometer_graph" type="hidden">
            </div>
            <div id="main_right_block">
                <p class="header_graph_radar">Динамика вероятности отказа</p>
                <canvas id="graph_zero" width="200" height="200" ></canvas>
            </div>
            <div style="clear: both; height: 0px"></div>
        </div>
        <div id="middle_block">
            <div id="middle_left_block">
                <p class="header">Ток на RF-21304 std за 2 ч., А</p>
                <p class="value">0.0598</p>
            </div>
            <div id="middle_center_block">
                <p class="header">Температура Фильера, C</p>
                <p class="value">210.80</p>
            </div>
            <div id="middle_right_block">
                <p class="header">Среднее давление вала за 6 ч., МПа</p>
                <p class="value">0.5613</p>
            </div>
            <div style="clear: both; height: 0px"></div>
        </div>
        <div id="bottom_block">
            <div>
                <p class="header_graph">Разность тока от времени</p>
                <canvas id="graph_one" width="200" height="200"></canvas>
            </div>
            <div>
                <p class="header_graph">Температура Фильера от времени</p>
                <canvas id="graph_two" width="200" height="200"></canvas>
            </div>
            <div>
                <p class="header_graph">Давление вала от времени</p>
                <canvas id="graph_three" width="200" height="200"></canvas>
            </div>
            <div style="clear: both; height: 0px"></div>
        </div>
    </main>
    <footer>
        <p id="copyright">&copy; 2018 ML witnesses studio<p>
    </footer>
    <script  src="{% static "js/index.js" %}" ></script>
</body>
</html>